<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.sber.greenskills">

    <application
        android:allowBackup="true"
        android:appCategory="social"
        android:icon="@mipmap/green_skills_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/green_skills_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ErrorPageActivity" />
        <activity android:name=".AuthentificationPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>